

main {
	flex: 1 0 auto;
}

header{
	background: url(images/beach.JPG);
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

body{
	/*display: flex;*/
	/*justify-content: center;*/
}

#nav-web-menu-id {
	color: black;
}

#mainDiv {
	background-color: #f7f7f7;
/*	width: 90%;*/
	/*align-content: center;*/
/*	display: flex;
	min-height: 100vh;
	flex-direction: column;*/
}

.vertical-line{
	max-height: 20px;
	max-width: 20px;
	background-color: lightgray;
}

#contact-form {

}

#footer-id{
	background-color: #363636;


}


#banner-container {
  display: flex;
}

#banner-center {
  margin: auto;
}
/* Remaining CSS is identical to original */
#p12 {
	font-family: monospace;
	font-size: 1.5em;
	display: flex;
	text-shadow: 0px 1px 6px rgba(255,255,255,.8);
	color: black;
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 2.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

#p12 {
  display: inline-flex;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#name-in-front {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 5em;
	text-align: center;
	text-shadow: 0px 2px 8px rgba(255,255,255,.9);
}

.nav-wrapper {
	/*background-color: rgba(255,120,0,0.50);	*/
}


#timeline-header {
    background-color: #ddc1f7
}

#josue-lopez-profile{
	/*border-radius: 50%;*/
	/*max-width: 200px;*/
}


#recommendations-row {

}

#recommendation-video {

}

