



main {
	flex: 1 0 auto;
}


body{
	/*display: flex;*/
	/*justify-content: center;*/
}

#nav-web-menu-id {
	color: black;
}

#mainDiv {
	background-color: #f7f7f7;
/*	width: 90%;*/
	/*align-content: center;*/
/*	display: flex;
	min-height: 100vh;
	flex-direction: column;*/
}

.vertical-line{
	max-height: 20px;
	max-width: 20px;
	background-color: lightgray;
}

#contact-form {

}

#footer-id{
	background-color: #363636;


}



#banner-container {
  display: flex;
}

#banner-center {
  margin: auto;
}
/* Remaining CSS is identical to original */
#motto-line{
	font-family: monospace;
	font-size: 1.5em;
	display: flex;
	    /*left-right, up-down, z-coord*/
	/*text-shadow: -2px -2px 3px rgba(255,255,255,3.0);*/
	/*color: black;*/
	overflow: hidden;
	border-right: .15em solid orange;
	white-space: nowrap;
	margin: 0 auto;
	letter-spacing: .15em;
	animation: 
		typing 2.5s steps(40, end),
		blink-caret .75s step-end infinite;
}

#motto-line {
  display: inline-flex;
  color:white;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#name-in-front {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 5em;
	text-align: center;
	text-shadow: 1px 2px 8px rgba(255,255,255,0.9);
}

.nav-wrapper {
	/*background-color: rgba(255,120,0,0.50);	*/
}



#timeline-header {
    background-color: #ddc1f7
}

#josue-lopez-profile{
	/*border-radius: 50%;*/
	/*max-width: 200px;*/
}


#recommendations-row {

}

#recommendation-video {

}

#scroll-btn{
	position: relative;
	animation: myfirst 5s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	bottom: 50px;
}

@keyframes myfirst {
	/* CSS Variables */
  0%   {bottom: 50px;}
  25%  {bottom: -20px;}
  50%  {bottom: 50px;}
  75%  {bottom: -20px;}
  100% {bottom: 50px;}
}

