{ % extends layout.html % }
<link rel="stylesheet" href="./Family_files/family.css">
<script src="./Family_files/family.js"> </script>
</head>

<body text="white" data-gr-c-s-loaded="true" class="vsc-initialized">
  
  <header>
    <h3> Family </h3>
  </header>

  <main>
    <div>
      <ul>
          <li> Me (Josue)</li>
          <li> Dad </li>
          <li> Mom </li>
          <li> Jazer </li>
      </ul>
    </div>

    <span>

    </span>

    <p>
      <img class="slvd_pic" src="./Family_files/el_slvd.gif">
      I honestly would be nothing without my family. Therefore, I dedicated this whole webpage<br>
      to them because they are my internal drive.<br>
      To my mother who always cared for me, and basically kept me alive these 18 years.<br>
       This is also for my father that always supported my passions.

    </p>

  </main>




<div id="weava-permanent-marker" date="1566186390636"></div><div id="weava-ui-wrapper"><div class="weava-drop-area-wrapper"><div class="weava-drop-area"></div>
<div class="weava-drop-area-text">Drop here!</div></div></div></body><span class="gr__tooltip"><span class="gr__tooltip-content"></span><i class="gr__tooltip-logo"></i><span class="gr__triangle"></span></span></html>