<html lang="en"><head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <meta charset="UTF-8">
  <script src="resources/form.js"> </script>
  <link rel="stylesheet" href="resources/MyProfile.css">
  <title>Josue's Profile Page</title>
</head>

  <body text="white">

    <div>
          <header>
            <div> <h1> Welcome to Josue's Website  </h1></div>


            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown
                </button>
                  <div id="myDropdown" class="dropdown-content">
                    <input type="text" placeholder="Search.." class="myInput" onkeyup="filterFunction()">
                    <a href="#about">About</a>
                    <a href="Family.html">Family</a>
                    <a href="#Food">Food</a>
                    <a href="#Interest">Interest</a>
                    <a href="#Social Media">Social Media</a>
                    <a href="#Contact">Contact</a>
                  </div>
            </div>




            <div class="div_menu">
              <ul class="horizontal_menu">
                      <li>
                          <a href="#Science">Science</a>
                      </li>
                      <li>
                          <a href="#Sports">Sports</a>
                      </li>
                      <li>
                          <a href="#CareerGoals">Career Goals </a>
                      </li>
                      <li>
                          <a href="#Foods">Food</a>
                      </li>
                      <li>
                          <a href="#Travel">Travel</a>
                      </li>
                      <li>
                          <a href="Interest">My Interests</a>
                      </li>
                      <li>
                          <a href="Family">My Family</a>
                      </li>
              </ul>
            </div>

          </header>





          <div clas="contact-info-box">
            <h4>Social Media</h4>
              <section>
                <ls>Facebook</ls>
                <ls>Instagram</ls>
                <ls>Snapchat</ls>
              </section>
          </div>


    </div>

</body></html>
