<html><head>
    <link rel="stylesheet" href="resources/interests.css">
    <script src="resources/interests.js"> </script>
    <meta charset="UTF-8">
  </head>
  <body>
    <h3> My Favorite Video Games!</h3>

    <a href="/"> <img class="back_button" src="resources/marioface.png">
    </a>



    <div class="three_game_images">
          <div class="game_image">
            <img id="mario" src="resources/mariobros.jpg">
          </div>
          <div class="game_image">
            <a href="http://worldsbiggestpacman.com/play/#0,0" target="_blank">
            <img id="pacman" src="resources/pacman.png"> </a>
          </div>
          <div class="game_image">
          <img id="kong" src="resources/donkeykong.png">
        </div>
  </div>


</body></html>
