<html><head>
<link rel="stylesheet" href="resources/family.css">
<script src="resources/family.js"> </script>
</head>

<body text="black">

  <header>
    <h3> Family </h3>
  </header>

  <main>
    <div>
      <ul>
          <li> Me (Josue)</li>
          <li> Dad </li>
          <li> Mom </li>
          <li> Jazer </li>
      </ul>
    </div>

    <span>

    </span>

    <img class="slvd_pic" src="resources/el_slvd.gif">
    <p>

      I honestly would be nothing without my family. Therefore, I dedicated this whole webpage<br>
      to them because they are my internal drive.<br>
      To my mother who always cared for me, and basically kept me alive these 18 years.<br>
       This is also for my father that always supported my passions.

    </p>

  </main>

</body></html>
