{% extends "layout.html" %}

{% block content %}

<div class="">

	<br>
	<div class="row">
		<div class="col s10 m3 offset-s1 offset-m1">
			<div class="section">
				<img class="responsive-img circle" id="josue-lopez-profile" src="/static/images/josue-lopez.jpg">
			</div>
			<div class="section">
				<div class="card-panel teal z-depth-1">
			        <span class="white-text">I am passionate developer of tools that connect individuals. I yearn to know the latest web-dev frameworks and SaaS technologies to design and deliver remarkable solutions!
			        </span>
		        </div>
			</div>
			
		</div>
		


		<div class="col s10 m6 offset-s1 push-m1 center-align">

			<h4 id="timeline-header">T I M E L I N E</h4>

			
			<div class="section">
				<div href="#" class="btn z-depth-0 teal accent-4">April 2017</div>
				<p>Confirmed offer letter from UC Irvine! Zot, Zot! 🤘🤘</p>
				<a href="#" class="btn-floating pink pulse"></a> 

			</div>		

			<div class="divider"></div>

			<div class="section">
				<div href="#" class="btn z-depth-0 teal accent-4">July 2017</div>
				<p>Flew out to Seattle, WA for Google's Computer Science Summer Institute!</p>
				<a href="#" class="btn-floating pink pulse"></a>				
			</div>			

			<div class="divider"></div>

			<div class="section">
				<div href="#" class="btn z-depth-0 teal accent-4">August 2017</div>
				<p>Completed UCI's summer bridge CSSA ! </p>
				<a href="#" class="btn-floating pink pulse"></a>					
			</div>

			<br>
			<br>
 
		</div> <!-- end of timeline div -->

	</div> <!--  end of div splitting two columns - grid system -->  

	<br>
	<br>
	
</div>

<!--  pattern in every event:

How can I print everythin in O(n) time:
without having to store the events of a specific year
within that year

Date: (Month, Year)
Icon: String -- Emojis


 -->
{%endblock content%}